<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Tag Practice</title>
</head>
<body>
<h1>
<a href = "https://www.saramin.co.kr/">사람인</a>
</h1>
<b>
<a     style = "display:inline" href="https://www.saramin.co.kr/zf_user/jobs/list/domestic"> 지역별 </a>
<a     style = "display:inline" href="https://www.saramin.co.kr/zf_user/jobs/list/job-category"> 직업별 </a>
<a     style = "display:inline" href="https://www.saramin.co.kr/zf_user/jobs/hot100"> HOT100 </a>
<a     style = "display:inline" href="https://www.saramin.co.kr/zf_user/curation"> 큐레이션 </a>
<a     style = "display:inline" href="https://www.saramin.co.kr/zf_user/jobs/public/list"> 공채 </a>
</b>
<hr>
<a href = "https://www.saramin.co.kr/"><img src="/static/img/0.png" alt="사람인"></a>
<ol>
    <li>
<h3>행복 Bridge, 사람인</h3>
<p>사람인HR은 뜨거운 열정과 사명감, 이용자 중심의 혁신적인 마인드와 도전적인 기술력으로 '사람'과 '일'을 잇는 기업입니다.</p>
    </li>
    <li>
<h3>대한민국 대표 리크루팅 플랫폼</h3>
<p>온라인 취업포털 사람인은 국내 최대량의 공채정보와 유용한 취업 콘텐츠를 정확하고 신속하게 제공합니다.</p>
    </li>
    <li>
<h3>사람을 먼저 생각하는 서비스</h3>
<p>구직자에게는 사회적 성취를 실현하고 행복한 삶의 터전이 될 일자리를, 기업에는 성장을 이끌 핵심인재를 연결합니다.</p>
    </li>
    <li>
<h3>사회적 책임을 다하는 사람인</h3>
<p>앞으로도 일자리 창출을 위한 서비스 지원을 비롯해 소외받은 사람들과 지역사회를 위한 사회공헌활동을 꾸준히 전개하여 선도기업으로서의 사회적 책임을 다하겠습니다.</p>
    </li>
</ol>

<h1>This is heading1 text.</h1>
        <h2>This is heading2 text.</h2>
        <h3>This is heading3 text.</h3>
        <p>This is a paragraph.</p>
        This is plain text.<br />
        <b>This is bold text.</b><br />
        <i>This is Italic text.</i><br />
        <s>This is strike text.</s><br />
        <ol>
            <li>the first orderd list</li>
            <li>the second orderd list</li>
            <li>the third orderd list</li>
        </ol>
        <ul>
            <li>unorderd list</li>
            <li>unorderd list</li>
            <li>unorderd list</li>
        </ul>
        <div class = "myDiv">
             <h2>This is a heading in a div element</h2>
             <p> This is some text in a div element</p>
        </div>
        <div class = "myDiv2">
             <h2>애국가</h2>
             <p> 동해물과 백두산이 마르고 닳도록</p>
        </div>
<table border=2>
            <tr>
                <th>table header 1</th>
                <th>table header 2</th>
                <th>table header 3</th>
            </tr>
            <tr>
                <td>table data 4</td>
                <td>table data 5</td>
                <td>table data 6</td>
            </tr>
            <tr>
                <td>table data 7</td>
                <td>table data 8</td>
                <td>table data 9</td>
            </tr>
        </table><br />
</body>
</html>